<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
 
  <!-- <a th:href="@{/}">Home</a>
 
     | &nbsp;
 
   <a th:href="@{/members}">Members</a>
 
     | &nbsp;
 
   <a th:href="@{/register}">Register</a> -->
   
   
   
   <nav class="nav-tabs">
  <div class="container-fluid">
       <ul class="nav navbar-nav nav-color tab-div">
      <li class="active"><a th:href="@{/}">Home</a></li>
      <li><a  th:href="@{/register}">Register</a></li>
      <li><a  th:href="@{/userDetails}">View</a></li>
      <li><a href="#">Update</a></li>
       <li><a th:href="@{/login}">Login</a></li>
    </ul>
  </div>
</nav>
 
</div>