<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
    
   <body>
    
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>  
       
      <div class="tab-content">
  <div id="home" class="tab-pane fade in active">
   
   <div class="starter-template">
   <h1>Get rid of poverty</h1>
   </div>
   <table>
  <tr>
     <td style="width:25%">
     <div class="container" >
    <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.png}" alt="Trust for Indians"/>
            </a>
      </div></td>
    <td style="width: 75%;"><div style="color:green;">      
  <p>save poor lives...........</p>
</div></td>

  </tr>
</table>
         </div>      

   </body>
</html>